<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=DESKTOP-1FKB2PN\SQLEXPRESS01;Initial Catalog=AdoNetFootball;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>